{% extends 'base.html' %}

{% block content %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blockchain</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
  </style>
  <link href="D:/web/xampp/htdocs/frontend_berita/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body class="bg-success">
  <div class="position-absolute top-50 start-50 translate-middle gap-2 d-grid">
    <form method="post">
      <li><label for="username">
          Username :
          <input type="text" name="username" value="{{ request.form['username'] }}" autofocus required>
        </label></li>
      <li><label for="password">
          Password :
          <input type="text" name="password" value="{{ request.form['password'] }}" autofocus required>
        </label></li>

      <li><label for="role">
          Role :
          <input type="text" name="role" value="{{ request.form['role'] }}" autofocus required>
        </label></li>

      <li><label for="nis">
          Nis :
          <input type="text" name="nis" value="{{ request.form['nis'] }}" autofocus required>
        </label></li>

      <li><label for="nama">
          Nama :
          <input type="text" name="nama" value="{{ request.form['nama'] }}" autofocus required>
        </label></li>

      <li><label for="umur">
          Umur :
          <input type="text" name="umur" value="{{ request.form['umur'] }}" autofocus required>
        </label></li>

      <li><label for="alamat">
          Alamat :
          <input type="text" name="alamat" value="{{ request.form['alamat'] }}" autofocus required>
        </label></li>


      <button class=" btn btn-light" type="submit">Submit</button>
    </form>

  </div>






  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
</body>
{% endblock %}