<!-- Store this code in 'login.html' file inside the 'templates' folder -->

<html>

<head>
  <meta charset="UTF-8">
  <title> Transaksi </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body></br></br></br></br></br>
  <div align="center">
    <div align="center" class="border">
      <div class="header">
        <h1 class="word">Transaksi</h1>
      </div></br></br></br>
      <h2 class="word">
        <form action="{{ url_for('index') }}" method="post">
          <div class="msg">{{ msg }}</div>
          <input id="sender" name="sender" type="text" placeholder="sender" class="textbox" /></br></br>
          <input id="recipient" name="recipient" type="text" placeholder="Enter Your recipient"
            class="textbox" /></br></br></br>
          <input id="amount" name="amount" type="text" placeholder="Enter Your amount" class="textbox" /></br></br></br>
          <input type="submit" class="btn" value="Kirim"></br></br>
        </form>
      </h2>
      <p class="bottom">Don't have an account? <a class="bottom" href="{{url_for('register')}}"> Sign Up here</a></p>
    </div>
  </div>
</body>

</html>